body{
    background-color: lightgray;

}
.main{
    width: 100%;
    margin: 10% auto;
    top: 20%;
}
.image {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.image-strip {
    display: flex;
    transition: transform 2.5s ease-in-out; 
}

.img {
    width: 100vw;       
    height: 50vh;      
    flex-shrink: 0;     
    object-fit: cover; 
    user-select: none;
    position: relative;
}
.img.fade-out {
    opacity: 0;
}
.actions{
    display: flex;
    position: absolute;
    bottom: 22%;
    gap: 575px;
}
button{
    background-color: royalblue;
    width: 20ch;
    border-radius: 10px;
}

.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    background-color: gray;       
    border-radius: 50%;          
    display: inline-block;        
    margin: 0 5px;                
}

.dots {
    text-align: center;
    margin-top: 15px;
}

.dot.active{
    background-color: royalblue;
}